@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container-all {
  max-width: 84.33% !important;
  margin: auto;
  overflow: auto;
}
body {

  background-color: #f4f4f4;
}
header {
  /* box-shadow: 1px 1px 2px rgba(13, 12, 11,0.1);
  border-bottom: 1px solid rgba(13, 12, 11,0.1);
  position: -webkit-sticky; /* Safari */
  /* position: fixed;
  top: 0;
  width: 100%;
  padding: 0.8em 0;
  z-index: 9999; */ */
}

nav a {
   color: #333c4e;
   font-family: "Open Sans", Arial, Helvetica, sans-serif;
   font-weight: 600;
   font-size: 13px;
   font-style: normal;
 }

 nav a:hover {
   color: #67b7e1;
   text-decoration: none;
   transition: all 0.5s;
 }
 .active {
   color: #67b7e1 !important;
 }

a {
  text-decoration: none !important;
}

a.current {
  color: #67b7e1 !important;
}


/*****************    Home Page    *************/

/*****************    FIRST SECTION    *************/

#section-1{
  padding-top: 50px;
  position: relative;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to bottom right, #051643, #8000ff);
}
#section-1 h1,h3 {
  color: white;
}
#section-1 h1 {
  padding: 0;
  margin-top: 1.1em;
  line-height: 60px;
  font-size: 62px;
}
#section-1 h3 {
    text-align: center;
    line-height: 40px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 26px;
    margin: 2.7em 0 3.2em 0;
}
.showcase-1{
  margin: 10% 0 10% 0;
  text-align: center;
}

.showcase-1 .s1-btn{
    margin: 1.3em 2em 0 2em;
}
.btn-universities {
    z-index: 8;
    background-color: rgb(255, 167, 55);
     font-family: "Open Sans", Arial, Helvetica, sans-serif;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    text-align: inherit;
    line-height: 28px;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 14px;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 30px;
    padding: 10px 40px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: nowrap;
    width: auto;    ;
    height: auto;
    min-height: 50px;
    min-width: 250px;
    max-height: none;
    max-width: none;
    opacity: 1;
    border-width: 0px;
    border-style: none;
}
.btn-admission {
      z-index: 9;
      background-color: rgb(85, 110, 237);
       font-family: "Open Sans", Arial, Helvetica, sans-serif;
      cursor: pointer;
      outline: none;
      box-shadow: none;
      text-align: inherit;
      line-height: 28px;
      letter-spacing: 1px;
      font-weight: 700;
      font-size: 14px;
      border-color: rgba(255, 255, 255, 0);
      margin: 0px;
      border-radius: 30px;
      padding: 10px 40px;
      color: rgb(255, 255, 255);
      text-decoration: none;
      white-space: nowrap;
      width: auto;
      height: auto;
      min-height: 50px;
      min-width: 250px;
      max-height: none;
      max-width: none;
      opacity: 1;
      border-width: 0px;
      border-style: none;
}
#section-1 button:hover{
  opacity: 0.8;
}

/*****************    SECTION UNIVERSITIES    *************/

#section-2 {
  text-align: center;
  margin-bottom: 10%;
}
.s2-heading {
  color: #333c4e;
  margin: 2em 0;
  font-size: 32.385px;
  line-height: 47.625px;
}


.item {
    min-width: 350px;
    min-height:350px;
    max-height: 400px;
    height: 50vh;
    border: none;
    box-shadow: 0 0 20px 8px grey;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.child {
  width: 100%;
  height: 100%;
  background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;

}
.item:hover .child, .item:focus .child {
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.item:hover .child:before, .item:focus .child:before {
    display: block;
}

.universities-content .info {
  width: 100%;
  height: 25vh;
  visibility: visible;
  background-color: rgba(13, 13, 13,0.7);
  position: absolute;
}
.universities-content .icon {
  margin-top: 1.7em;
}

.universities-content button {
  width: 250px;
  color: #fff;
  padding: 13px 29px;
  line-height: 17px;
  font-size: 14px;
  border: none;
  border-color: #ffffff;
  border-radius: 21px;
  background: #556eed;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  letter-spacing: 1px;
  font-weight: 700;
}
.universities-content button:hover {
  opacity: 0.8;
}

/*****************    SECTION ADMISSIONS    *************/


#section-3 {
  text-align: center;
  background-color: #051643;
  padding: 8% 0;

}
#section-3 .s3-heading {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0px;
  font-style: normal;
}

#section-3 .s3-info-text{
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 200;
  line-height: 50px;
  letter-spacing: 0px;
  font-style: normal;
  padding: 1em 0;
}
#section-3 .item {
  min-width: 340px;
  min-height: 450px;
  height: 45vh;
  padding: 35px;
  box-shadow: none;
  background-color: #fff;
  position: relative;

}
#section-3 .item:hover {
  cursor: default;
}
#section-3 a{
  text-decoration: none;
}
.heading h4{
  font-family: Open Sans;
  color: rgba(51,60,78,0.99);
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.heading a:hover h4{
  text-decoration: none !important;
  color: #67b7e1;

}
.image {
 padding-bottom: 20px;
}
.content-box-wrapper {
  padding: 35px;
}
.content-container .button-test {
}
.content-container {
  margin: 5% 0 8% 0;
  color: #607d8b;
}
.button-test{
  width:88%;
  color: #fff;
  padding: 10px 29px;
  background: #556eed;
  font-family: Open Sans;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  border-width: 0px;
  border-style: solid;
  border-radius: 21px;
  text-transform: uppercase;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: absolute;
  bottom: 0px;
  left: 0;
  margin: 0 30px 30px 30px;
}

.button-test:hover{
  opacity:0.8;
}
.other-button {
  width: 100%;
}
.btn-other {
  margin-top: 0.6em;
  color: #fff;
  border: none;
  border-radius: 21px;
  background: rgba(85,110,237,0);
  outline: 0;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 13px 29px;
  line-height: 17px;
  font-size: 14px;
}
.btn-other:hover {
  background-image: linear-gradient(rgba(85,110,237,0),rgba(96,122,254,0.41));
}

/*****************    SECTION NEWS    *************/

#section-4 {
  padding: 6% 0;
  text-align: center;
}
#section-4 a{
  text-decoration: none;
  color: #ef9a3d;
}
#section-4 a:hover{
  color: #67b7e1;
}
#section-4 .item {
  min-width: 340px;
  min-height: 500px;
  height: 80vh;
  box-shadow: none;
  cursor: default;
  background-color: rgba(244,244,244,1);
  border: none;
}

.s4-heading {
  color: #333c4e;
  margin: 0px;
  font-size: 27.678px;
  line-height: 40.703px;
  font-weight: 700;
}

.s4-info-text {
    margin: 1.5em 0;
    color: #747474;
}
.head-image {
  width: 100%;
  height: 36vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.text-content {
  padding: 0 1em;
}
.text-content h2{
  color: #ef9a3d;
  text-decoration: none;
  margin: 1em 0;
  padding: 0;
  font-weight: 500;
  line-height: 1.2;
}

.text-content p {
  margin: 0;
  color: #747474;
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
  font: 13px/20px PTSansRegular,Arial,Helvetica,sans-serif;
}
.text-content a:hover h2 {
  color: #67b7e1;
}
.item-container{}
.read-more-btn {
  position: absolute;
   text-align: center;
   margin-left: 40%;
  bottom: 5%;
}
.btn-goto {
  width: 200px;
  color: #fff;
  padding: 10px 29px;
  line-height: 17px;
  font-size: 14px;
  border: none;
  border-color: #ffffff;
  border-radius: 21px;
  background: #556eed;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  text-align: inherit;
  letter-spacing: 1px;
  font-weight: 700;
}
#section-4 button:hover {
  opacity: 0.8;
}

/*****************    SECTION Footer    *************/

footer{
  background-color: #051643;
  height: auto;

}
footer .top-footer {

}
footer .item {
  min-width: 340px;
  min-height: 400px;
  height: 60vh;
  cursor: default;
  box-shadow: none;

}
.container-footer{
  width: 84%;
  margin: auto;

}

footer .logo-img {
  padding-right: 0.6em;
  background-color: rgb(191, 224, 242);
  width: 285px;
}
form {
  width:100%;
}
footer form h4 {
    margin: 30px 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1px;
    font-style: normal;
    color: #ffffff;
}

footer form .label-form {
    color: #444d62 !important;
    display: block;
    font-weight: 700;
    font-size: 16px;
    float: none;
    line-height: 1.3;
    margin: 0 0 4px 0;
    padding: 0;
}
footer form input {
  width: 100%;
  height: 40px;
}
footer form .input-form:hover{
  border: none;
}

footer form button {
  background-color: #eee;
  border: 1px solid #ddd;
  color: #333;
  font-size: 1em;
  padding: 10px 15px;
  border: none;

}

#top-footer {
  padding-top: 5%;
  border-bottom: 1px solid black;
}
#top-footer h4 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1px;
    font-style: normal;
    color: #ffffff;
    padding-bottom: 20px;
}
#top-footer .divide a {

  line-height: 1.5;
  letter-spacing: 1px;
  font-style: normal;
  color: #ffffff;
  display: block;
  margin: 8px 0;
  text-decoration: none !important;

}
#top-footer .divide a:hover {
  color: #67b7e1;
  transition: all 0.5s;
}
.divide {
  padding-left: 10px;
}

/*********    Sub footer     **************/
#sub-footer {
  padding: 30px 0;
}
#sub-footer p{
  color: #ffffff;
  font-size: 12px;
  line-height: 3;
}
#sub-footer p a{
  color: #ffffff;
}
#sub-footer i{
  margin:20px 10px;
  color: #bfbfbf;
}
/*****************    END OF HOME PAGE    *************/

/*****************    Universities Page    *************/
#section-universities{
  background-color: #051643;
  padding-top:50px;

}
.section-universities-types {
  background-color: #fff !important;
}
.section-universities-types h4 {
  color: #464d5f;
}
.section-universities-types i{
  border:3px solid #464d5f;
  background-color: #f7f7f7;
  box-sizing:content-box;
  height:100px;
  width:100px;
  line-height:100px;
  border-radius:50%;
  color:#03a9f4;
  font-size:50px;
}
.section-universities-types i:hover{
  background-color: #464d5f;
}
.section-universities-types a:hover i{
    background-color: #464d5f;
}
#section-3 .su-heading{
  font-size: 31.663px;
  line-height: 46.563px;
  color: #333c4e !important;
}
#section-universities h1 {
  font-family: "Roboto Slab",sans-serif;
  font-weight: 700;
  font-size: 65px;
  line-height: 1.15;
  letter-spacing: -1px;
  font-style: normal;
  color: #fff;
}
#section-universities a,span{
  color: #fff;
  text-decoration: none !important;
}
.item-universities {
  min-width: 340px;
  min-height: 450px;
  height: 35vh;
  padding: 25px;
  box-shadow: none;
  background-color: #faf9f8;
  position: relative;

}

.item-universities h4 {
  margin-top: 15px;
}
#section-3 .icon {
  border: 2px;
  border-color:#464d5f;
  border-width:1px;


}

/**********  Page IMAT **********/

.imat-content {
  background-color: rgba(255,255,255,0);
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#imat .mobile-tab{
  display: none;
}


/*********** start of About Us page ***********/
#section-about-us {
  margin-top:50px;
  background: url('../images/about_us_ptb_top_bg.jpg');
  background-position: center;
  background-size: cover;

}

#section-about-us h1 {
  font-size: 39.96px;
  line-height: 51.615px;
  color: #ffffff;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -1px;
  font-style: normal;
}
#section-about-us a,#section-about-us-body a {
 color: #fff;
 text-decoration: none !important;
}

#section-about-us-body{
  padding-top: 20px;
  text-align: center;
}
.card {
  text-align: center;
  border: 1px solid #03a9f4 !important;
  border-radius: 0 !important;
  min-width: 300px;
  min-height: 250px;
  margin: 20px 0;
}
.card span {
  font-size: 1.3em;
  color: #03a9f4;
}
.card h3{
  color: #03a9f4;
  font-size: 2.8em;
}
.card i{
  margin-bottom: -20px;
  border: none;
  background-color: #fff;
}
.card a:hover i{
  background-color: #fff !important;
}

.about-us-content hr,.about-us-courses hr {
  border-top: 1px solid #03a9f4;
  width: 20%;
  margin: 30px auto;
}
.about-us-content {
  padding: 70px 15%;
}
.about-us-content h3 {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0px;
    font-style: normal;
    color: #333c4e;
}
.about-us-content h4 {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    font-style: normal;
    color: #333c4e;
    margin: 20px 30px;
}
.about-us-content-subhead{
  font-size: 20px;

}
.about-us-content p {
  margin-top: 0;
  margin-bottom: 20px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #7e8890;
}
.divide-content {
  padding: 50px;
}
#about-us-content-cards{
  background-color: #faf9f8;
  padding-top: 85px;
  padding-bottom: 50px;
  text-align: center;
}
.card-custom {
  min-width: 310px !important;
  border: none !important;
  background-color: transparent !important;
}
.card-custom i{
  margin-bottom: -20px;
  border: none ;
  font-size: 50px;
  background-color: #faf9f8;
  color: #03a9f4;

}
.card-custom h3{
  font-size: 15px;
  line-height: 20px;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  color: #333c4e;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0px;
  font-style: normal;
}
.card-custom p{
  font-size: 15px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 2em;
  color: #7e8890;
}

.card-custom a:hover h3{

  opacity: 0.5;
  color: #03a9f4;
}
.card-custom a:hover i{
  background-color: #faf9f8;
}
.about-us-courses {
  text-align: center;
  padding: 50px 0 100px 0;
}
.about-us-courses h2 {
  color: #333c4e;
  font-size: 24px;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0px;
  font-style: normal;
}

/********* end of About Us page *********/

/********* start of Contact Us page *********/
#section-contact-us {
  background-color: #051643;
  padding:80px 0 30px 0;
}
#section-contact-us a{

}
#section-contact-us h1 {
  font-family: "Roboto Slab",sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.10;
  letter-spacing: -1px;
  font-style: normal;
  color: #fff;
}
#section-contact-us a,span{
  color: #fff;
  text-decoration: none !important;
}
.content-1 .card{
  margin: 100px 0;
  padding: 1em 0 2em 0;
  border: none;
  min-height: 200px;
  border: none !important;
  box-shadow: 0 0 20px 5px grey;
}

.content-2 .card {
  text-align: left;
  padding: 1em 1.5em 2em 1.5em;
  border: none;
  min-height: 200px;
  border: none !important;
  box-shadow: 0 0 20px 5px grey;
}
.content-1 .card img{
  margin-top: 1em;
}
.content-1 h3, .content-2 h3{
  margin: 0;
  font-size: 24px;
  color: #333c4e;
  padding: 0;
  text-align: left;
}
.content-1 p, .content-2 p{
  color: #7e8890;;
  text-align: left;
  margin-top: 0;
  margin-bottom: 20px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.content-1 a{
  color: #ef9a3d;
}

.content-1 a:hover{
  color: #00c3d8;
}

.content-2 label{
  margin-top: 0.5em;
  display: block;
  font-weight: 700;
    font-size: 16px;
    float: none;
    line-height: 1.3;
    margin: 0 0 4px 0;
    padding: 0;
    color: #747474;
}

.content-2 span {
  color: red;
}
.content-2 input{
  width: 100%;
}
.content-2 textarea{
  width: 100%;
}
.content-2 button {
  margin: 35px 0 0 0;
  background-color: #eee;
  border: 1px solid #ddd;
  color: #333;
  font-size: 1em;
  padding: 10px 15px;
}

.card-text h2 {
  color: #7e8890;
  font-size: 24px;
  line-height: 1.6em;
  letter-spacing: -1px;
}
.card-text h6 {
  color: #7e8890;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
}
.card-text p {
  color: #7e8890;
  font-size: 19px;
}
.card-text hr {
  margin: 2em 0;
}

.social-fb i{
  color:#ffffff;
  background-color:#3b5998;
  border-color:#3b5998;
  border-radius:4px;
  padding: 8px 10px;
}

.social-inst i {
  color: #ffffff;
  background-color: #3f729b;
  border-color: #3f729b;
  border-radius:4px;
  padding: 8px 10px;
}
.content-2 a{
  white-space: nowrap;
}
/**************** end of Contact us page  *******************/


/**************** start of Consultation page  *******************/

#consultation {
  padding: 2em 0;
}
.content-consultation .card {
  border: none !important;
}
.content-consultation h3 {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  color: #333c4e;
  font-weight: 700;
  letter-spacing: 0px;
  font-style: normal;
  text-align: center;
  font-size: 31.663px;
  line-height: 46.563px;
}
.logo-under-text{
  color: #7e8890;
  font-style: italic;
  text-align: center;
  font-size: 20px;
}
.post-content{
  color: #7e8890;
  text-align: center;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 20px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.content-consultation hr{
  margin: 30px auto;
  width: 15%;
  border-top: 2px solid #e7e6e6;
}

.post-text{
  color: #7e8890;
  font-size: 15px;
  line-height: 32px;
  padding: 0 15%;
  margin-top: 0;
  margin-bottom: 20px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.content-consultation button{
  background: #556eed;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  border-radius: 21px;
  padding: 13px 29px;
  line-height: 17px;
  outline: none;
  border: none;

}
.content-consultation button:hover{
  color: #ffffff;
  opacity: 0.8;
}
.content-consultation i {
  background: #556eed;
  font-weight: 900;
}

.content-consultation span{
  font-family: Open Sans;
  color: #ffffff;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 17px;
  font-size: 14px;
}



/********** start of Study Medicine Italy page **********/

#section-study-medicine{
  color: #fff;
  margin-top:50px;
  background-color: rgba(126, 136, 144,1);
  background: url('../images/becoming-doctor.jpg');
  background:linear-gradient( rgba(23, 26, 28, 0.8) 100%, rgba(0, 0, 0, 1)100%),url("../images/becoming-doctor.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
}

#section-study-medicine a{
color: #fff;
}
/********** end of Study Medicine Italy page **********/

/********* page for each university ******************/
.sides {
  margin: 100px 0;
}
.sides .text{
  margin: 20px 0;
  padding: 0;

}
.sides h4 {
  color: #333c4e;
  font-weight: 400;
  text-align: center;
  font-size: 15px;
}
.sides hr{
    border-color: #03a9f4;
    border-top-width: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 100%;
}
.about-right-side{
    background-color: rgb(255, 255, 255);
    color: #747474;
    border: 1px solid rgb(221, 221, 221);
    padding: 40px 10px;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.about-left-side{
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.table tr td {
    border-bottom: 1px solid #dcdcdc;
    color: #747474;
}
.wp-block-gallery.is-cropped .blocks-gallery-item img {
    height: 100%;
    flex: 1;
    object-fit: cover;
}
.wp-block-gallery.is-cropped .blocks-gallery-item img {
    width: 100%;
}
.about-right-side ul {
  list-style: none;
}
.about-right-side h2 {
color: #333;
}
@media(max-width: 1200px){
  nav a {
     color: #333c4e;
     font-family: "Open Sans", Arial, Helvetica, sans-serif;
     font-weight: 600;
     font-size: 13px;
     font-style: normal;
     margin: 0 -10px;
   }
   #section-1 h1{
     font-size: 55px;
   }
}
@media(max-width: 1000px){
  #section-1 h1{
    font-size: 45px;
  }
  #section-universities h1,#section-about-us h1,#section-contact-us h1 {
    font-size: 3em !important;
  }

nav a{
  padding: 0 -0.3rem;
}

  #imat .nav{
    display: none;
  }
  #imat .mobile-tab {
    display: block;
  }
}

@media(max-width: 576px){
.subft {
  justify-content: center !important;
}
.content-1 p{
  display: none;
}
.showcase-1{
  margin: 12% 0 12% 0;

}
#section-universities h1,#section-about-us h1,#section-contact-us h1 {
  font-size: 2em !important;
}
#section-1 h1{
  font-size: 35px;
  line-height: 50px;
}
#section-1 h3{
  font-size: 20px;
  line-height: 30px;
}
}
